<main class="w-11/12 mx-auto">
	<div>
		<h1 class="font-bold text-center text-3xl mb-6">Available Books</h1>
	</div>
	<div class="grid grid-cols-[2fr_8fr]">
		<div>
			<p class="font-bold">Category</p>
			<ul>
				<li>Action and Adventure</li>
				<li>Classics</li>
				<li>Detective and Mystery</li>
			</ul>
		</div>
		<div class="grid grid-cols-5 gap-3">
			<% books.forEach(book => { %>
			<div class="flex flex-col">
				<div class="book bg-slate-200 flex justify-center items-center flex-col py-6 px-3 rounded text-black">
					<img class="mb-6" src="<%= book.cover ?? "https://via.placeholder.com/128x194" %>" alt="<%= book.title %>" />
					<h3 class="book-title"><%= book.title %></h3>
					<h3 class="book-qty">Quantity: <%= book.qty %></h3>
				</div>
				<form action="/books/request/<%= book.id %>" method="POST">
					<button class="rounded bg-green-400 text-white font-bold px-4 mt-4 py-2" type="submit">Request</button>
				</form>
			</div>
			<% }) %>
		</div>
	</div>
</main>
